<header>
    <nav>
        <ul>
            <li><a href="/produto">Produto</a></li>
            <li><a href="/clienHometes">Clientes</a></li>
            <li><a href="/funcionario">Funcionario</a></li>
            <li><a href="/venda">Venda</a></li>
        </ul>
    </nav>
</header>